<div id="<%= dom_id garden %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= garden.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Banner url:</strong>
    <%= garden.banner_url %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this garden", garden, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this garden', edit_garden_path(garden), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
